<button class="btn btn-sm btn-light dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-ellipsis-h"></i>
</button>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="#"><i class="fas fa-pen mr-2"></i>Modifier</a>
    <a class="dropdown-item" href="#"><i class="fas fa-archive mr-2"></i>Archiver</a>
    <a class="dropdown-item" href="#"><i class="fas fa-file-pdf mr-2"></i>Télécharger</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item text-danger" href="#"><i class="fas fa-trash mr-2"></i>Supprimer</a>
</div>
