<div class="row">
    <div class="col-12 col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <div class="lead font-weight-normal">Factures impayées</div>
                <hr>
                <h2 class="card-text text-danger">950 EUR</h2>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <div class="lead font-weight-normal">Paiement</div>
                <hr>
                <h2 class="card-text text-success">11.950 EUR</h2>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <div class="lead font-weight-normal">Charges de l'entreprise</div>
                <hr>
                <h2 class="card-text">4.500 EUR</h2>
            </div>
        </div>
    </div>
    <div class="col-12">
        <app-board-list></app-board-list>
    </div>
    <div class="col-12">
        <app-board-list></app-board-list>
    </div>
</div>
